USE [VentasBD]
GO
/****** Object:  StoredProcedure [dbo].[usp_Registrar_CompraDet]    Script Date: 20/07/2025 00:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Registrar_CompraDet]
@Id_producto int,
@Id_CompraCab int,
@Cantidad int,
@Precio decimal(18,2),
@SubTotal decimal(18,2),
@Igv decimal(18,2),
@Total decimal(18,2)
as
BEGIN
declare @CodigoRespuesta int 
 BEGIN TRY  
   BEGIN TRANSACTION  
   insert into CompraDet(Id_CompraCab,Id_producto,Cantidad,Precio,SubTotal,Igv,Total)
 
   values (@Id_CompraCab,@Id_producto,@Cantidad,@Precio,@SubTotal,@Igv,@Total)

   update Productos set  Costo=@Precio, PrecioVenta=Costo*1.35 where  Id_producto=@Id_producto

   COMMIT TRANSACTION  
  END TRY  
  BEGIN CATCH  
   IF @@TRANCOUNT > 0  
   BEGIN  
    ROLLBACK TRANSACTION  
  select -1 as CodigoRespuesta
		,ERROR_NUMBER()+'-'+ERROR_LINE()+'-'+ERROR_MESSAGE() AS MensajeRespuesta   
 
   END  
  END CATCH  
 select  @CodigoRespuesta,'ok' as MensajeRespuesta
END