USE [VentasBD]
GO
/****** Object:  StoredProcedure [dbo].[usp_LISTAR_Kardex]    Script Date: 19/07/2025 19:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec[dbo].[usp_LISTAR_Kardex]3
create PROCEDURE [dbo].[usp_LISTAR_Kardex]
@Id_producto int 
as
BEGIN
declare @stock int=0

select isnull(sum (case when cab.Id_TipoMovimiento=2 then Cantidad*-1 else cantidad end),0)as stock,p.Id_producto 
into #stock
from  Productos p left join Movimientodet m on p.Id_producto=m.Id_producto
left join MovimientoCab cab on cab.Id_MovimientoCab=m.Id_movimientocab
group by p.Id_producto



select p.Id_producto,Nombre_producto,s.stock stock_actual,Costo,PrecioVenta from Productos p inner join  #stock s on p.Id_producto=s.Id_producto

drop table #stock

end 
